<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039448029698-ijf4o61teoj5n8il9de26v6e7v4se8lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039448029698-ijf4o61teoj5n8il9de26v6e7v4se8lj</string>
	<key>API_KEY</key>
	<string>AIzaSyDoan04tWC-3aJn4w2Bjw_3Nsd2u03646U</string>
	<key>GCM_SENDER_ID</key>
	<string>1039448029698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fzelaya.Social-Network</string>
	<key>PROJECT_ID</key>
	<string>social-network-a69c8</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-a69c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039448029698:ios:f02369640c62a359d2c51b</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-a69c8.firebaseio.com</string>
</dict>
</plist>